/* Enlève le padding par défaut des listes */
ul{
    padding-left: 0;
    list-style: none;
}
/* Empêche les cartes de rétrécir */
.card{
    min-width: 250px;
}
/* Réduit la taille des images du panier */
.card-img{
   width: 100px;
} 
/* Largeur max de la page affichée, page centrée */
body{
    max-width: 1200px;
    margin:auto;
}
/* Suppression des margin négatives de bootstrap */
.card-deck{
    margin: 0;
}
/* Effet de zoom sur les produits en display */
.zoom{
    transition: transform 400ms ease;
}
.zoom:hover{
    transform: scale(1.05);
    box-shadow: 0 0 3px 1px lightgrey;
}

